/* Dashboard styles */
.dashboard-page {
    flex-direction: column;
}

.dashboard-page-body {
    flex-direction: column;
    flex-grow: 1;
}

.spinner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

/* Navigation tabs */
#window-nav-tabs>.nav-item .nav-link.active {
    color: var(--primary-color);
    background-color: var(--fonts-color);
    border-color: var(--fonts-color);
}
#window-nav-tabs>.nav-tabs .nav-link:hover {
    border-color: var(--fonts-color);
}

/* Open windows table */
.windows-table table>tbody {
    background-color: var(--fonts-color-light);
}
.windows-table table>tbody {
    height: 100%;
    overflow-y: auto;
}
.windows-table table thead th,
.windows-table table tbody th,
.windows-table table tbody td{
    font-size: var(--regular-font-size);
    font-weight: normal;
}
.windows-table .window-action-col {
    width: 5%;
}
.windows-table .window-index-col {
    width: 5%;
}
.windows-table .window-name-col {
    width: 70%;
}
.windows-table .window-tab-count-col {
    width: 18%;
}
.windows-table .window-expand-row-trigger-col {
    width: 2%;
}

hr {
    border-top: 1px solid var(--fonts-color);
    width: 100%;
}
.cursor-not-allowed {
    cursor: not-allowed;
}

.header-div {
    position: relative;
}
.back-to-index {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 4%;
}
.back-to-index svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.back-to-index a {
    text-decoration: none;
    color: inherit;
}
.back-to-index a:hover, .back-to-index a:focus, .back-to-index a:active {
    text-decoration: none;
    color: inherit;
}

.memory-stats, .windows-table {
    max-width: 100%;
}

.window-name-input {
    width: 375px;
}